#invitation-search {
    width: 100%;

    .input {
        font-size: 24px;
        text-align: center;
        padding: 12px;
        font-weight: bold;
    }

    .button-search {
        width: 100%;
    }
}
