@import "../../../../styles/colors.module.scss";
@import "../../../../styles/responsive.scss";

#home-banner {
    background-position: center;
    background-size: cover;

    .banner-content {
        padding: 64px 256px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        backdrop-filter: blur(4px) brightness(0.6);
        column-gap: 100px;
        row-gap: 24px;

        @include is-mobile {
            padding: 64px;
            flex-direction: column !important;
        }

        &__text-side {
            @include is-mobile {
                text-align: center !important;
            }

            h2,
            p {
                color: $color-white;
            }
        }

        &__button-side {
        }
    }
}
