@import "../../styles/colors.module.scss";

.app-input {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .label {
        color: $color-gray-700;
        font-size: 0.875rem;
        margin-bottom: 4px;
    }

    .input {
        border: 1px solid $color-gray-300;
        border-radius: 6px;

        :focus {
            outline: none;
        }
    }

    .error-message {
        font-size: 0.75rem;
        color: $color-red-600;
    }
}
