@import "../../../../styles/colors.module.scss";

#event-photo-album {
    padding: 12px;

    .album {
        $height: 484px;

        position: relative;

        .photos {
            display: flex;
            flex-direction: column;
            height: $height;
            flex-wrap: wrap;
            justify-content: center;
            gap: 16px;
            overflow-x: auto;
            scroll-behavior: smooth;

            &::-webkit-scrollbar {
                height: 2px !important;
            }

            img {
                max-width: 300px;
                height: auto;
            }
        }

        .arrow {
            position: absolute;
            color: $color-white;
            font-size: 50px;
            height: 44px;
            top: $height / 2;
            cursor: pointer;

            :hover {
                color: $color-gray-100;
            }

            svg {
                height: 100%;
                -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
                filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
            }

            &.arrow-left {
                left: 8px;
            }

            &.arrow-right {
                right: 8px;
            }
        }
    }
}
