#home-bride-groom-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .spotify-iframe {
        border-radius: 12px;
        width: 100%;
        height: 352px;
    }
}
