@import "../../styles/colors.module.scss";

.app-checkbox {
    label {
        display: inline-flex;
        align-items: center;

        input {
            // h-6 w-6 checked:bg-primary focus:ring-primary rounded border-gray-300
        }

        span {
            // ml-2 text-gray-700
        }

        input {
            height: 24px;
            width: 24px;
            background-color: $color-primary;
            border: 1px solid $color-gray-300;
            border-radius: 0.25rem;
            outline: none;
        }

        span {
            margin-left: 8px;
            color: $color-gray-700;
        }
    }
}
