@import "../../styles/colors.module.scss";

.initials-icon {
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 2px;
    
    .initial {
        color: $color-white;
        font-weight: bold;
    }

    .rmd-icon {
        path {
            fill: $color-white;
        }
    }
}
